
<link href="~/Content/bootstrap.css" />
<link href="~/Content/Site.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div claas="shift" style="margin-left: 18px; height: 400px;">
                            <h1 style="font-weight: bold;">My Profile</h1>
                            <h2 style="font-family: Furuta; color: #006150; font-weight: bold;">I AM</h2>
                            <p>Name & Surname:</p>
                            <p>Joe Soap</p>

                            <div class="wrapper" style="width: 50%;">
                                <img src="~/images/joe.jpg" class="image-responsive" style="display: block;height: auto; max-width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1 style="margin-left: 18px;">General Actions</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left:18px; height: 400px;">

                                    <br />
                                    <br />

                                    <b> Topic/Objectives:</b> Velocity Profile
                                    <br />
                                    <br />

                                    <b> Venue :</b> N/A
                                    <br />
                                    <br />

                                    <b> Date:</b> 26 May 2018
                                    <br />
                                    <br />

                                    <b>Pre-work:</b> None
                                    <br />
                                    <br />

                                    <b>Status/Feedback category:</b> Sent to Angelique Brand:
                                    <br />
                                    <br />

                                    <div class="radio-item">
                                        <input type="radio" id="ritemn" checked="checked" name="ritem" value="ropt2">
                                        <label for="ritemn">
                                        </label>
                                    </div>
                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemd" name="ritem" value="ropt2">
                                        <label for="ritemd">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea; ">
                                        <div class="placeholder">
                                            If no,please provide reason
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*second *@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 400px;">

                                    <br />
                                    <br />

                                    <b> Topic/Objectives:</b> Velocity Profile2
                                    <br />
                                    <br />

                                    <b> Venue :</b> N/A
                                    <br />
                                    <br />

                                    <b> Date:</b> 26 May 2018
                                    <br />
                                    <br />

                                    <b>Pre-work:</b> None
                                    <br />
                                    <br />

                                    <b>Status/Feedback category:</b> Sent to Angelique Brand:
                                    <br />
                                    <br />

                                    @*checkbox*@

                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemda" name="ritem" value="ropt2">
                                        <label for="ritemda">
                                        </label>
                                    </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemds" name="ritem" value="ropt2">
                                        <label for="ritemds">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            If no,please provide reason
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*third*@

<div class="container">
    <h1>Core Development</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height:789px;
">

                                    <br />
                                    <br />

                                    <b> MD Challenge:</b> Team meetings April
                                    <br />
                                    <br />

                                    <b> Due Date:</b> 10 April
                                    <br />
                                    <br />

                                    <b>Pre-work:</b>
                                    <br />
                                    <div class="grey">Download training Doc.</div>
                                    <br />
                                    <br />

                                    <b>Status/Feedback:</b>

                                    <br />
                                    Number of meetings held
                                    <br />
                                    <br />

                                    @*checkbox*@

                                    <div class="radio-item" @*style="padding: 0 15px*@ ">
                                        <input type="radio" id="ritemp" name="ritem" value="ropt2">
                                        <label for="ritemp">
                                            <br />
                                            <div class="num" style="display: inline-block; margin-left: 10px;">1 </div>
                                        </label>

                                    </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemxp" name="ritem" value="ropt2">
                                        <label for="ritemxp">
                                            <br />
                                            <div class="num" style="display: inline-block; margin-left: 10px;">2 </div>
                                        </label>
                                    </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemvit" name="ritem" value="ropt2">
                                        <label for="ritemvit">
                                            <br />
                                            <div class="num" style="display: inline-block; margin-left: 10px;">3 </div>
                                        </label>
                                    </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemti" name="ritem" value="ropt2">
                                        <label for="ritemti">
                                            <br />
                                            <div class="num" style="display: inline-block; margin-left: 10px;">4 </div>
                                        </label>
                                    </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemu" name="ritem" value="ropt2">
                                        <label for="ritemu">
                                            <br />
                                            <div class="num" style="display: inline-block; margin-left: 10px;">5 </div>
                                        </label>
                                    </div>

                                    <br />
                                    <br />
                                    What percentange of the team on average attended the team meetings
                                    <br />
                                    <br />

                                    @*percentage*@
                                    <div class="expand">
                                        <div class="radio-item">
                                            <input type="radio" id="ritemy" name="ritem" value="ropt2">
                                            <label for="ritemy">
                                                <br />

                                                <div class="num" style="display: inline-block; margin-left: -4px;">100% </div>
                                            </label>
                                        </div>

                                        <div class="radio-item">
                                            <input type="radio" id="ritemr" name="ritem" value="ropt2">
                                            <label for="ritemr">
                                                <br />
                                                <div class="num" style="display: inline-block; margin-left: 1px;">80% </div>
                                            </label>
                                        </div>

                                        <div class="radio-item">
                                            <input type="radio" id="ritemxet" name="ritem" value="ropt2">
                                            <label for="ritemxet">
                                                <br />
                                                <div class="num" style="display: inline-block; margin-left: 3px;">60% </div>
                                            </label>
                                        </div>

                                        <div class="radio-item">
                                            <input type="radio" id="ritemxe" name="ritem" value="ropt2">
                                            <label for="ritemxe">
                                                <br />
                                                <div class="num" style="display: inline-block; margin-left: 4px;">40% </div>
                                            </label>
                                        </div>

                                        <div class="radio-item">
                                            <input type="radio" id="ritemxw" name="ritem" value="ropt2">
                                            <label for="ritemxw">
                                                <br />
                                                <div class="num" style="display: inline-block; margin-left: 5px;">20% </div>
                                            </label>
                                        </div>

                                        <div class="radio-item">
                                            <input type="radio" id="ritemxq" name="ritem" value="ropt2">
                                            <label for="ritemxq">
                                                <br />
                                                <div class="num" style="display: inline-block; margin-left: 6px;">0% </div>
                                            </label>
                                        </div>
                                    </div>
                                    <br />

                                    Who was absent and what was their reason for missing the meeting
                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            Type here
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*fourth*@

<div class="container">
    <div id="collapse" class="collapse in">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default pad">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div claas="shift" style="margin-left: 18px;height: 724px;">
                                        <br />
                                        <br />
                                        <b>April Status Feedback</b>
                                        <br />
                                        <br />
                                        I would describe our status on the MD challenge as

                                        @*checkbox*@
                                        <br />

                                        <div class="radio-item">
                                            <input type="radio" id="ritemdqqal" name="ritem" value="ropt2">
                                            <label for="ritemdqqal">
                                            </label>
                                        </div>

                                        <div class="red">
                                            <b>RED</b>

                                        </div>

                                        <br />
                                       <div class="descript">We are at risk of not achieving monthly and overal delivery target</div> 
                                        <br />


                                        <div class="radio-item">
                                            <input type="radio" id="ritemdqqa" name="ritem" value="ropt2">
                                            <label for="ritemdqqa">
                                            </label>
                                        </div>

                                        <div class="amber">
                                            <b>AMBER</b>
                                        </div>


                                        <br />
                                        <div class="descript">
                                            Some actions are outstanding,and causing a delay</div>
                                            <br />

                                            <div class="radio-item">
                                                <input type="radio" id="ritemddw" checked="checked" name="ritem" value="ropt2">
                                                <label for="ritemddw">
                                                </label>
                                            </div>

                                            <div class="green">
                                                <b>GREEN</b>
                                            </div>

                                            <br />
                                            <div class="aside">We are on track</div>
                                            <br />

                                            <div class="big">All objectives for April are achived</div>
                                            <br />
                                            <br />

                                            <div class="end" style="float:right;margin-right: 8px;">
                                                <div class="num" style="float:left;">Yes </div>

                                                <div class="radio-item">
                                                    <input type="radio" id="ritemdd" name="ritem" value="ropt2">
                                                    <label for="ritemdd">
                                                    </label>
                                                </div>


                                                <div class="radio-item">
                                                    <input type="radio" id="ritemdf" name="ritem" value="ropt2">
                                                    <label for="ritemdf">
                                                    </label>
                                                </div>
                                                <div class="num2">No </div>
                                            </div>

                                            <br />
                                            <br />
                                            <br />

                                            <div class="text-big"> What is delaying progress</div>
                                            <br />
                                            <br />

                                            <div class="col-2">
                                                <input type="text" class="form-control" style="background-color: #eaeaea;">
                                                <div class="placeholder">
                                                    Type here
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-collapse" data-toggle="collapse" data-target="#collapse">
                                                <p style="float:right;margin-right: 18px;">Collapse &#9650;</p>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


@*firth*@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height:0px;margin-top: -27px;">
                                    <br />
                                    <br />
                                    <b>MD Challenge:</b> Team Report April
                                    <br />
                                    <b>Feedback:</b> Complete
                                </div>
                                <button type="button" class="btn btn-collapse" data-toggle="collapse" data-target="#collapse">
                                    <p style="float:right;margin-right: 18px;"> Expand &#9660;</p>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*sixth*@

<h1 style="margin-left: 18px; font-weight: bold;">Tutor Feedback</h1>
<h2 style="margin-left: 18px;">(completed by users)</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 282px;">
                                    <br />
                                    <br />
                                    Provide feedback to participants and provide information that the group may not be aware of.
                                    <br />

                                    @*checkbox*@
                                    <br />
                                    <div class="radio-item">
                                        <input type="radio" id="ritemrnf" checked="checked" name="ritem" value="ropt2">
                                        <label for="ritemrnf">
                                        </label>
                                    </div>

                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemdg" name="ritem" value="ropt2">
                                        <label for="ritemdg">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>

                                    <br />
                                    <br />

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*seventh*@


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 282px;">
                                    <br />
                                    <br />
                                    Stretch the group by posing questions that help the group to build their strategic thinking
                                    <br />
                                    <br />

                                    <div class="radio-item">
                                        <input type="radio" id="ritemnqj" checked="checked" name="ritem" value="ropt2">
                                        <label for="ritemnqj">
                                        </label>
                                    </div>
                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemdh" name="ritem" value="ropt2">
                                        <label for="ritemdh">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>


                                    <br />
                                    <br />

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*eigth*@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px;height: 304px;">
                                    <br />
                                    <br />
                                    Guide the group to ensure that they are delving into understanding root causes before identifying solutions
                                    <br />
                                    <br />

                                    <div class="radio-item">
                                        <input type="radio" id="ritemnxc" checked="checked" name="ritem" value="ropt2">
                                        <label for="ritemnxc">
                                        </label>
                                    </div>
                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemdk" name="ritem" value="ropt2">
                                        <label for="ritemdk">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>

                                    <br />
                                    <br />

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*nineth*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left:18px;height: 329px;">
                                    <br />
                                    <br />
                                    Provide leadership without taking the reigns,  use positive reinforcement techniques to encourage, motivate or build confidence
                                    <br />
                                    <br />

                                    <div class="radio-item">
                                        <input type="radio" id="ritemnxcek" checked="checked" name="ritem" value="ropt2">
                                        <label for="ritemnxcek">
                                        </label>
                                    </div>
                                    <div class="num" style="float:left;">Yes </div>

                                    <div class="radio-item">
                                        <input type="radio" id="ritemdl" name="ritem" value="ropt2">
                                        <label for="ritemdl">
                                        </label>
                                    </div>

                                    <div class="num2">No </div>
                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

